body {
    margin: 0;
}
 
main {
    margin: 16px;
}
 
.navbar {
    display: flex;
    align-items: center;
    
    background: rgb(127, 107, 141);
    font-family: Helvetica;
    font-weight: 300;
}
 
.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 2px 16px 2px 16px;
    color:black;

}
 
.navbar__item {
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    color: blanchedalmond;
    font-size: 110%;
    vertical-align: middle;
    margin-right: auto;
}

